<!DOCTYPE html>
<html>
    <head>
        <title>Print Network</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/png" href="assets/img/favicon.png"/>
        <meta name="description" content="Print Sharing">
        <meta name="author" content="StivaleDiAcciaio">
        <!--CSS core-->
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" media="screen" />
        <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css" media="screen" />
        <link href="node_modules/nya-bootstrap-select/dist/css/nya-bs-select.min.css" rel="stylesheet" type="text/css"/>

        <!-- Custom styles for this template -->
        <link href="assets/css/printNetwork.css" rel="stylesheet">
        <link href="assets/css/signin.css" rel="stylesheet">
        <link href="assets/css/form-autenticazione.css" rel="stylesheet">
        <link href="assets/css/font-awesome.min_4.2.0.css" rel="stylesheet">

        <!--Librerie Angular core e moduli aggiuntivi -->
        <script src="node_modules/angular/angular.js"></script>
        <script src="node_modules/angular-i18n/angular-locale_it-it.js"></script>
        <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="node_modules/angular-translate/dist/angular-translate.min.js"></script>
        <script src="node_modules/angular-translate/dist/angular-translate-loader-partial/angular-translate-loader-partial.min.js"></script>
        <script src="node_modules/angular-animate/angular-animate.min.js"></script>
        <script src="node_modules/angular-touch/angular-touch.min.js"></script>
        <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
        <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="node_modules/nya-bootstrap-select/dist/js/nya-bs-select.min.js" type="text/javascript"></script>
        <!-- moduli, servizi, costanti, direttive etc.. -->
        <script src="app/app.module.js"></script>
        <script src="app/app.routes.js"></script>
        <script src="app/app.costants.js"></script>
        <script src="app/app.directives.js"></script>
        <script src="app/app.service.js"></script>
        <script src="app/app.filters.js"></script>
        <script src="app/components/mainCtrl.js"></script>
        <script src="app/components/home/homeCtrl.js"></script>
        <script src="app/components/autenticazione/autenticazioneCtrl.js"></script>
        <script src="app/components/pannelloControllo/pannelloControlloCtrl.js"></script>
        <script src="app/components/commonModal/dominiFormatiStp2Dctrl.js"></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body id="ng-app" ng-app="printNetworkApp" ng-controller="mainCtrl"
          ng-class="(paginaCorrente && paginaCorrente.nome != 'home') ? 'bodyMain' : 'bodyHome'">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <!--Caricamento Pagina-->
            <div ng-show="showLoading" class="col-xs-12 pannelloFissoLoadingPage">
                <div style="height:1000px;" id="overlay" class="allineaMessaggiUtente">
                    <img id="caricamento" src="assets/img/old_loading.gif">
                </div>
            </div>
            <!--/Caricamento Pagina-->
            <a href="#" ng-class="showLoading ? 'btn btn-link disabled navbar-brand' : 'navbar-brand'">
                <img style="z-index: 1;position: relative;" ng-class="(paginaCorrente && paginaCorrente.nome != 'home') ? 'navBarIcon' : 'navBarIconHome'" src="assets/img/stampante_80x80.png"></a>
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a ng-class="showLoading ? 'btn btn-link disabled navbar-brand' : 'navbar-brand'" href="#">Print Network</a>
                </div>
                
                <div id="navbar" class="collapse navbar-collapse" uib-collapse="navCollapsed">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#" ng-class="showLoading ? 'btn btn-link disabled' : 'btn btn-link'" ng-click="navCollapsed = !navCollapsed">Home</a></li>
                        <li>
                            <a href="#autenticazione" role="button" ng-class="showLoading ? 'btn btn-link disabled' : 'btn btn-link'" ng-click="navCollapsed = !navCollapsed">Autenticazione</a>
                        </li>
                        <li>
                            <a ng-class="showLoading ? 'btn btn-link disabled' : 'btn btn-link'" ng-click="mainOpenRegolamentoModal('md')">Regolamento</a>
                        </li>
                        <li>
                            <a ng-class="showLoading ? 'btn btn-link disabled' : 'btn btn-link'" ng-click="mainOpenContattiModal('md')">Contatti</a>
                        </li>
                        <li>
                            <a ng-if="checkToken()" ng-class="showLoading ? 'btn btn-link disabled' : 'btn btn-link'" href="#autenticazione" ng-click="logout()">Esci</a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>	
        <div ng-show="messaggio && !showLoading" class="col-xs-12 barraFissaMessaggiUtente">
            <div id="messaggiUtente" class="allineaMessaggiUtente">
                <h3><span ng-class="messaggio.level == 'INFO' ? 'alert alert-success' :
                                        messaggio.level == 'WARNING' ? 'alert alert-warning' :
                                        'alert alert-danger'">
                        {{messaggio.contenuto}}</span></h3>
            </div>
        </div>
        <div class="container margineContainer">
            <div ui-view="content"></div>
            <!--CAPTCHA-->
            <div id="idBoxCaptcha" ng-show="boxCaptcha" class="boxCaptcha row">
                <div class="col-xs-12">
                    <div id="Idcaptcha" class="g-recaptcha" data-sitekey="6LcciCQTAAAAAMms69y3Wau-tpcWAJOJvjRiHEAR"></div>
                </div>
            </div>
            <!--/CAPTCHA-->
        </div>
</body>
</html>

