<!--PAGINA DI REGISTRAZIONE -->

<h1>Registration Form</h1>
<form class="form-signin" name="formRegistrazione">
    <h2 class="form-signin-heading">Registrazione</h2>
    <label for="inputEmail">Email address</label>
    <input ng-model="utente.email" type="email"
           id="inputEmail" 
           class="form-control" 
           placeholder="Email address" 
           required autofocus>
    <label for="inputPassword">Password</label>
    <input ng-model="utente.password" type="password" 
           id="inputPassword" 
           class="form-control" 
           placeholder="Password" 
           required>
    <label for="inputNome">Nome</label>
    <input ng-model="utente.nome"  
           id="inputNome" 
           class="form-control" 
           placeholder="nome" 
           required>
    <label for="inputCognome">Cognome</label>
    <input ng-model="utente.cognome"  
           id="inputCognome" 
           class="form-control" 
           placeholder="cognome" 
           required>
    <button class="btn btn-lg btn-primary btn-block" ng-click="cliccaRegistrazione(formRegistrazione)">Salva</button>  
</form>
Output Registrazione: {{outRegistrazione}}
<button ng-click="cliccaStampa()">Stampa</button>
