<!--PANNELLO CONTROLLO -->
<!-- Sezione visibile solo in MOBILE -->
<div class="intestazionePannello visible-xs">
    <!--Bottone per nascondere/mostrare il menu laterale-->
    <div class="divToggleMenu"> 
        <a id="toggleLeftMenu" ng-click="isCollapsedHorizontal = !isCollapsedHorizontal">
            <i ng-class="isCollapsedHorizontal ? 'fa fa-toggle-off' : 'fa fa-toggle-on'"></i>
        </a>
    </div>
    <!-- Menu laterale -->
    <aside class="col-sm-12 hidden-md menuLateraleSinistroMobile">
        <nav class="horizontal-collapse" uib-collapse="isCollapsedHorizontal" horizontal>   
            <div class="wrapperBoxRicercaIndirizzo">
                <div class="testoCercaIndirizzo"> 
                    <input id="cercaMobile"
                           places-auto-complete size=80
                           ng-model="indirizzo.cercato"
                           component-restrictions="{country:'it'}"
                           on-place-changed="indirizzoSelezionato()" type="text" placeholder="Indirizzo">
                </div>
                <div class="iconaCercaIndirizzo" ng-click="resetCercaIndirizzo()">
                    <i ng-class="indirizzoTrovato ? 'placeChangedClass glyphicon glyphicon-remove' : 'placeChangedClass glyphicon glyphicon-search'"></i>
                </div>
            </div>
            <div ng-show="indirizzoTrovato" class="indirizzoTrovato">
                <i class="glyphicon glyphicon-map-marker"></i> <a href="javascript:void(0)" ng-click="centraMappa(locationTrovata)">{{indirizzoTrovato}}</a>
            </div>
            <div class="geoPosizioneWrapper">
                <div ng-class="posizioneRilevata ? 'gps si' : 'gps no'">
                    <i class="glyphicon glyphicon-screenshot"></i> 
                </div>
                <div ng-if="posizioneRilevata" class="linkPosizione">
                    <a href="javascript:void(0)" ng-click="centraMappa()">{{indirizzoRilevato}}</a>
                </div>
                <div ng-if="!posizioneRilevata" class="linkPosizione">
                    <a href="javascript:void(0)">{{"PC.LABEL.NO_POS_RILEVATA"| translate}}</a>
                </div>
            </div>
            <ul class="listaVociMobile nav nav-sidebar">
                <li ng-init="toggleMenuRichiesteEffettuate=false" ng-class="toggleMenuRichiesteEffettuate?'active':''">
                    <a href="#pannelloControllo" ng-click="toggleSubMenuSecondario('RichiesteEffettuate')">{{"PC.ITEM.RICHIESTE_EFFETTUATE"| translate}}<span>({{listaRichiesteStampaUscita.length==null?0:listaRichiesteStampaUscita.length}})</span></a>
                </li>
                <!-- Submenu Richieste-->
                <ul ng-show="toggleMenuRichiesteEffettuate" class="submenuActiveNoActive">
                    <li ng-repeat="richiesteStampaEffettuate in listaRichiesteStampaUscita track by $index">
                        <button class="btn btn-link" href="#pannelloControllo">{{richiesteStampaEffettuate.destinatario.nick}}</button>
                        <stelle-feedback feedback="richiesteStampaEffettuate.destinatario.feedback"></stelle-feedback>
                        <button class="btn btn-link subMenuBtnAuto" href="#pannelloControllo"><img src="assets/img/auto.svg"></button>
                        <button class="btn btn-link subMenuBtnPiede" href="#pannelloControllo"><img src="assets/img/piede.svg"></button>
                    </li>
                </ul>
                <!-- /Submenu Richieste-->
                <li ng-init="toggleMenuRisposte=false" ng-class="toggleMenuRisposte?'active':''">
                    <a href="#pannelloControllo" ng-click="toggleSubMenuSecondario('Risposte')">{{"PC.ITEM.RISPOSTE_RICEVUTE"| translate}}<span>({{numeroRisposteRicevute()}})</span></a>
                </li>
                <!-- Submenu Risposte-->
                <ul  ng-show="toggleMenuRisposte" class="submenuActiveNoActive">
                  <li ng-repeat="risposte in listaRichiesteStampaUscita|filter:{stato:'stampa_contrattazione'} track by $index">
                        <button class="btn btn-link" href="#pannelloControllo">{{risposte.destinatario}}:{{risposte.stato}}</button>
                  </li>
                </ul>
                <!-- /Submenu Risposte-->
                <li ng-init="toggleMenuNotifiche=false" ng-class="toggleMenuNotifiche?'active':''">
                    <a href="#pannelloControllo" ng-click="toggleSubMenuSecondario('Notifiche')">{{"PC.ITEM.NOTIFICHE"| translate}}<span>({{numeroNotifiche()}})</span></a>
 
                </li>
                <!-- Submenu Notifiche-->
                <ul  ng-show="toggleMenuNotifiche" class="submenuActiveNoActive">
                    <li ng-repeat="richiesteStampaEntrata in listaRichiesteStampaEntrata track by $index">
                        <button class="btn btn-link" ng-click="alert('more infoutente')">{{richiesteStampaEntrata.mittente.nick}}</button>
                        <stelle-feedback feedback="richiesteStampaEntrata.mittente.feedback"></stelle-feedback>
                        <button class="btn btn-link subMenuBtnRifiuta" ng-click="rifiutaRichiestaStampa(richiesteStampaEntrata.mittente.nick)"><i class="glyphicon glyphicon-remove"></i></button>
                        <button class="btn btn-link subMenuBtnAccetta" ng-click="accettaRichiestaStampa(richiesteStampaEntrata.mittente.nick)"><i class="glyphicon glyphicon-ok"></i></button>
                    </li>
                </ul>
                <ul  ng-show="toggleMenuNotifiche" class="submenuActiveNoActive">
                    <li ng-repeat="notificheServer in listaNotificheServer track by $index" >
                        <button class="btn btn-link" href="#pannelloControllo">SERVER:{{notificheServer}}</button>
                    </li>
                </ul>
                <!-- /Submenu Notifiche-->                
            </ul>      
        </nav> 
    </aside>
</div>
<!-- /Sezione visibile solo in MOBILE -->

<div class="col-xs-12">
    <!-- Sezione visibile solo in DESKTOP -->
    <aside class="col-sm-3 hidden-xs menuLateraleSinistroDesktop">
        <nav>       
            <div class="wrapperBoxRicercaIndirizzo">
                <div class="testoCercaIndirizzo"> 
                    <input id="cercaDesktop"
                           places-auto-complete size=80
                           ng-model="indirizzo.cercato"
                           component-restrictions="{country:'it'}"
                           types="['address']" 
                           ng-change="testoIndirizzoChanged()"
                           on-place-changed="indirizzoSelezionato()" placeholder="Indirizzo">
                </div>
                <div class="iconaCercaIndirizzo" ng-click="resetCercaIndirizzo()">
                    <i ng-class="indirizzoTrovato ? 'placeChangedClass glyphicon glyphicon-remove' : 'placeChangedClass glyphicon glyphicon-search'"></i>
                </div>
            </div>
            <div ng-show="indirizzoTrovato" class="indirizzoTrovato">
                <i class="glyphicon glyphicon-map-marker"></i> <a href="javascript:void(0)" ng-click="centraMappa(locationTrovata)">{{indirizzoTrovato}}</a>
            </div>
            <div class="geoPosizioneWrapper">
                <div ng-class="posizioneRilevata ? 'gps si' : 'gps no'">
                    <i class="glyphicon glyphicon-screenshot"></i> 
                </div>
                <div ng-if="posizioneRilevata" class="linkPosizione">
                    <a href="javascript:void(0)" ng-click="centraMappa()">{{indirizzoRilevato}}</a>
                </div>
                <div ng-if="!posizioneRilevata" class="linkPosizione">
                    <a href="javascript:void(0)">{{"PC.LABEL.NO_POS_RILEVATA"| translate}}</a>
                </div>
            </div>
            <ul class="listaVociDesktop nav nav-sidebar">
                <li ng-init="toggleMenuRichiesteEffettuate=false" ng-class="toggleMenuRichiesteEffettuate?'active':''">
                    <a href="#pannelloControllo" ng-click="toggleSubMenuSecondario('RichiesteEffettuate')">{{"PC.ITEM.RICHIESTE_EFFETTUATE"| translate}}<span>({{listaRichiesteStampaUscita.length==null?0:listaRichiesteStampaUscita.length}})</span></a>
                </li>
                <!-- Submenu Richieste-->
                <ul ng-show="toggleMenuRichiesteEffettuate" class="submenuActiveNoActive">
                    <li ng-repeat="richiesteStampaEffettuate in listaRichiesteStampaUscita track by $index">
                        <button class="btn btn-link" href="#pannelloControllo">{{richiesteStampaEffettuate.destinatario.nick}}</button>
                        <stelle-feedback feedback="richiesteStampaEffettuate.destinatario.feedback"></stelle-feedback>
                        <button class="btn btn-link subMenuBtnAuto" href="#pannelloControllo"><img src="assets/img/auto.svg"></button>
                        <button class="btn btn-link subMenuBtnPiede" href="#pannelloControllo"><img src="assets/img/piede.svg"></button>
                    </li>
                </ul>
                <!-- /Submenu Richieste-->
                <li ng-init="toggleMenuRisposte=false" ng-class="toggleMenuRisposte?'active':''">
                    <a href="#pannelloControllo" ng-click="toggleSubMenuSecondario('Risposte')">{{"PC.ITEM.RISPOSTE_RICEVUTE"| translate}}<span>({{numeroRisposteRicevute()}})</span></a>
                </li>
                <!-- Submenu Risposte-->
                <ul  ng-show="toggleMenuRisposte" class="submenuActiveNoActive">
                  <li ng-repeat="risposte in listaRichiesteStampaUscita|filter:{stato:COSTANTI.STATO_RICHIESTE_STAMPA.CONTRATTAZIONE||COSTANTI.STATO_RICHIESTE_STAMPA.ANNULLATA} track by $index">
                        <button class="btn btn-link" href="#pannelloControllo">{{risposte.destinatario}}:{{risposte.stato}}</button>
                  </li>
                </ul>
                <!-- /Submenu Risposte-->
                <li ng-init="toggleMenuNotifiche=false" ng-class="toggleMenuNotifiche?'active':''">
                    <a href="#pannelloControllo" ng-click="toggleSubMenuSecondario('Notifiche')">{{"PC.ITEM.NOTIFICHE"| translate}}<span>({{numeroNotifiche()}})</span></a>
 
                </li>
                <!-- Submenu Notifiche-->
                <ul  ng-show="toggleMenuNotifiche" class="submenuActiveNoActive">
                    <li ng-repeat="richiesteStampaEntrata in listaRichiesteStampaEntrata track by $index">
                        <button class="btn btn-link" ng-click="alert('more infoutente')">{{richiesteStampaEntrata.mittente.nick}}</button>
                        <stelle-feedback feedback="richiesteStampaEntrata.mittente.feedback"></stelle-feedback>
                        <button class="btn btn-link subMenuBtnRifiuta" ng-click="rifiutaRichiestaStampa(richiesteStampaEntrata.mittente.nick)"><i class="glyphicon glyphicon-remove"></i></button>
                        <button class="btn btn-link subMenuBtnAccetta" ng-click="accettaRichiestaStampa(richiesteStampaEntrata.mittente.nick)"><i class="glyphicon glyphicon-ok"></i></button>
                    </li>
                </ul>
                <ul  ng-show="toggleMenuNotifiche" class="submenuActiveNoActive">
                    <li ng-repeat="notificheServer in listaNotificheServer track by $index" >
                        <button class="btn btn-link" href="#pannelloControllo">SERVER:{{notificheServer}}</button>
                    </li>
                </ul>
                <!-- /Submenu Notifiche-->
            </ul>  
        </nav>
    </aside> 
    <!-- /Sezione visibile solo in DESKTOP -->
    <!-- contenuto principale del pannello di controllo -->
    <section class="col-sm-9 col-xs-12 contenutoPannelloControllo">
       <!--Slider per CERCHIO-->
       <div>
            <rzslider rz-slider-model="slider.raggioCerchio" rz-slider-options="slider.options"></rzslider>
       </div>
       <div class="col-xs-12">
           <input type="text" ng-model="nickDestinatario" placeholder="nome destinatario"/>
           <input type="text" ng-model="msgUtente" placeholder="messaggio"/>
           <button class="btn btn-default" ng-click="apriChat()">Invia Messaggio</button>
       </div>
       <!-- GESTIONE MESSAGGI WSOCKET-->
       <div class="row">
           <div class="col-xs-12" ng-repeat="messaggio in listaMessaggiUtente track by $index">
               <div class="col-xs-12">{{messaggio.msg}}</div>
           </div>
        </div>
        <!-- GESTIONE MESSAGGI WSOCKET-->      
        <div>
            <ng-map id="mappaPannelloControllo" class="mappaPannelloControllo"
                    zoom="{{zoomCalcolato}}" 
                    default-style="false" 
                    center="{{posCentroMappa}}">
                <div ng-if="map && !isGeoFallback()">
                    <shape id="cerchioRicerca" name="circle" centered="true"
                           stroke-color='green' stroke-opacity="0.8" stroke-weight="2"
                           center="{{slider.posizioneCerchio.lat()}},{{slider.posizioneCerchio.lng()}}" radius="{{slider.raggioCerchio}}" editable="false" ></shape>
                    <custom-marker  ng-repeat="utPds in arrayMarkerPDS|filter:{mostra:true} track by $index" 
                                    id="pds-marker-{{$index}}"
                                    position={{utPds.indirizzo.descrizione}}>
                        <div class="markerWrapper" ng-click="markerPDSonClick(utPds)">
                            <i class="glyphicon glyphicon-map-marker {{utPds.classe}}"></i>
                        </div>
                    </custom-marker>
                    <directions 
                        draggable="true"
                        travel-mode="DRIVING"
                        suppress-markers="true"
                        origin={{geoPartenza}}
                        destination={{geoArrivo}}>
                    </directions>                    
                </div>
            </ng-map>
            <pannello-direzione partenza=map.directionsRenderers[0].directions.routes[0].legs[0].start_address 
                                arrivo=map.directionsRenderers[0].directions.routes[0].legs[0].end_address
                                distanza-totale=map.directionsRenderers[0].directions.routes[0].legs[0].distance.text
                                tempo-totale=map.directionsRenderers[0].directions.routes[0].legs[0].duration.text
                                passi=map.directionsRenderers[0].directions.routes[0].legs[0].steps>    
            </pannello-direzione>
            <!-- Box con info PDS selezionato -->
            <div ng-show="pdsSelezionato" class="col-md-offset-2 col-md-8 col-md-offset-2 col-xs-12 row infoPDS" ng-class="pdsSelezionato?'boxInfoPdsActive':'boxInfoPdsNoActive'">
                <div class="col-xs-12"><span class="label">{{"PC.LABEL.NICK"| translate}}: {{pdsSelezionato.nick===getUtenteLoggato().nick?'(IO)':pdsSelezionato.nick}}</span><span class="close btnCloseX" type="button" ng-click="infoPDScancel()">×</span></div>
                <div class="col-xs-12"><span class="label">{{"PC.LABEL.INDIRIZZO"| translate}}: {{pdsSelezionato.indirizzo.descrizione}}</span></div>
                <div class="col-xs-12"><div ng-if="pdsSelezionato.tipologiaStampa.stampa2D.formato.length>0"><span class="label">{{"PC.LABEL.STMP2D"| translate}}: {{pdsSelezionato.tipologiaStampa.stampa2D.colore=='C'?'a colori':'bianco&nero'}}, formati:<span ng-repeat="frmt in pdsSelezionato.tipologiaStampa.stampa2D.formato">{{frmt.value}} </span></span></div>  
                                       <div ng-if="pdsSelezionato.tipologiaStampa.stampa3D"><span class="label">{{"PC.LABEL.STMP3D"| translate}}: {{"PC.LABEL.STMP3D_MATERIALE"| translate}} {{pdsSelezionato.tipologiaStampa.stampa3D.materiale}}-H.{{pdsSelezionato.tipologiaStampa.stampa3D.altezza}},L.{{pdsSelezionato.tipologiaStampa.stampa3D.larghezza}},P.{{pdsSelezionato.tipologiaStampa.stampa3D.profondita}}</span></div>  
                </div>
                <div class="col-xs-12">
                    <div ng-if="pdsSelezionato.tipologiaUtente=='P'"><span class="label">{{"PC.LABEL.TIPOUTENTE"| translate}}: {{"PC.LABEL.UT_PRIVATO"| translate}}</span></div>
                    <div ng-if="pdsSelezionato.tipologiaUtente=='A'"><span class="label">{{"PC.LABEL.TIPOUTENTE"| translate}}: {{"PC.LABEL.UT_ATTIVITA"| translate}}</span></div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <span class="label">feedback:</span>
                    <stelle-feedback feedback="pdsSelezionato.feedback"></stelle-feedback>
                </div>
                <div class="col-md-6 col-xs-12" ng-class="pdsSelezionato.nick===getUtenteLoggato().nick?'hide':''">
                    <button class="btn btn-xs btn-primary" ng-click="inviaRichiestaStampa(pdsSelezionato)">{{"PC.BTN.RICHIEDI_STMP"| translate}}</button> 
                    <button class="btn btn-xs btn-primary" ng-click="calcolaPercorso(pdsSelezionato)">{{"PC.BTN.CALCOLA_PERCORSO"| translate}}</button> 
                </div>
            </div>
            <!-- Box in alto contenente gli altri utenti Pds collegati allo stesso indirizzo -->
            <div ng-show="pdsSelezionato && pdsSelezionato.utentiPDSstessoIndirizzo" class="col-md-offset-2 col-md-8 col-md-offset-2 col-xs-12 row infoMorePDS" ng-class="pdsSelezionato && pdsSelezionato.utentiPDSstessoIndirizzo?'boxInfoPdsActive':'boxInfoPdsNoActive'">
                <div ng-repeat="altroUtPds in pdsSelezionato.utentiPDSstessoIndirizzo track by $index">
                    <div class="col-xs-8"><a ng-click="altroUtentePDSonClick(altroUtPds,pdsSelezionato)" class="label">{{altroUtPds.nick===getUtenteLoggato().nick?'(IO)':altroUtPds.nick}}</a></div>
                    <div class="col-xs-4">
                         <stelle-feedback feedback="altroUtPds.feedback"></stelle-feedback>
                    </div>
                </div>   
            </div>
            <div id="infoPDSscroll"></div>
        </div>
    </section>
</div>