<!--PANNELLO CONTROLLO -->
<!-- Sezione visibile solo in MOBILE -->
<div class="intestazionePannello visible-xs">
    <!--Bottone per nascondere/mostrare il menu laterale-->
    <div class="divToggleMenu"> 
        <a id="toggleLeftMenu" ng-click="isCollapsedHorizontal = !isCollapsedHorizontal">
            <i ng-class="isCollapsedHorizontal ? 'fa fa-toggle-off' : 'fa fa-toggle-on'"></i>
        </a>
    </div>
    <!-- Menu laterale -->
    <aside class="col-sm-12 menuLateraleSinistroMobile">
        <nav class="horizontal-collapse" uib-collapse="isCollapsedHorizontal" horizontal>   
            <div class="wrapperBoxRicercaIndirizzo">
                <div class="testoCercaIndirizzo"> 
                    <input id="cercaMobile"
                           places-auto-complete size=80
                           ng-model="indirizzo.attuale"
                           component-restrictions="{country:'it'}"
                           on-place-changed="indirizzoSelezionato()" type="text" placeholder="Indirizzo">
                </div>
                <div class="iconaCercaIndirizzo" ng-click="resetCercaIndirizzo()">
                    <i ng-class="indirizzoTrovato ? 'placeChangedClass glyphicon glyphicon-remove' : 'placeChangedClass glyphicon glyphicon-search'"></i>
                </div>
            </div>
            <div ng-show="indirizzoTrovato" class="indirizzoTrovato">
                <i class="glyphicon glyphicon-screenshot"></i> <a href="javascript:void" ng-click="centraMappa(locationTrovata)">{{indirizzoTrovato}}</a>
            </div>
            <ul class="listaVociMobile nav nav-sidebar">             
                <li class="active"><a href="#pannelloControllo">Voce 1-mobile</a></li>             
                <li><a href="#pannelloControllo">Voce 2-mobile</a></li>             
                <li><a href="#pannelloControllo">Voce 3-mobile</a></li>          
            </ul>      
        </nav> 
    </aside>
</div>
<!-- /Sezione visibile solo in MOBILE -->

<div class="col-xs-12">
    <!-- Sezione visibile solo in DESKTOP -->
    <aside class="col-sm-3 hidden-xs menuLateraleSinistroDesktop">
        <nav>       
            <div class="wrapperBoxRicercaIndirizzo">
                <div class="testoCercaIndirizzo"> 
                    <input id="cercaDesktop"
                           places-auto-complete size=80
                           ng-model="indirizzo.attuale"
                           component-restrictions="{country:'it'}"
                           types="['address']" 
                           ng-change="testoIndirizzoChanged()"
                           on-place-changed="indirizzoSelezionato()" placeholder="Indirizzo">
                </div>
                <div class="iconaCercaIndirizzo" ng-click="resetCercaIndirizzo()">
                    <i ng-class="indirizzoTrovato ? 'placeChangedClass glyphicon glyphicon-remove' : 'placeChangedClass glyphicon glyphicon-search'"></i>
                </div>
            </div>
            <div ng-show="indirizzoTrovato" class="indirizzoTrovato">
                <i class="glyphicon glyphicon-screenshot"></i> <a href="javascript:void" ng-click="centraMappa(locationTrovata)">{{indirizzoTrovato}}</a>
            </div>
            <ul class="listaVociDesktop nav nav-sidebar">             
                <li class="active"><a href="#pannelloControllo">Voce 1-desktop</a></li>             
                <li><a href="#pannelloControllo">Voce 2-desktop</a></li>             
                <li><a href="#pannelloControllo">Voce 3-desktop</a></li>          
            </ul>      
        </nav>
    </aside> 
    <!-- /Sezione visibile solo in DESKTOP -->
    <!-- contenuto principale del pannello di controllo -->
    <section class="col-sm-9 col-xs-12 contenutoPannelloControllo">
        <div>
            <ng-map id="mappaPannelloControllo" zoom="15" default-style="false" center="current-location">
                 <shape id="circle" name="circle" centered="true"
                       stroke-color='green' stroke-opacity="0.8" stroke-weight="2"
                       center="current-location" radius="200" editable="false" ></shape>
            </ng-map>
        </div>
    </section>
</div>