<!--PANNELLO CONTROLLO -->
<!-- Sezione visibile solo in MOBILE -->
<div class="intestazionePannello visible-xs">
    <!--Bottone per nascondere/mostrare il menu laterale-->
    <div class="divToggleMenu"> 
        <a id="toggleLeftMenu" ng-click="isCollapsedHorizontal = !isCollapsedHorizontal">
            <i ng-class="isCollapsedHorizontal ? 'fa fa-toggle-off' : 'fa fa-toggle-on'"></i>
        </a>
    </div>
    <!-- Menu laterale -->
    <aside class="col-sm-12 menuLateraleSinistroMobile">
        <nav class="horizontal-collapse" uib-collapse="isCollapsedHorizontal" horizontal>          
            <ul class="listaVociMobile nav nav-sidebar">             
                <li class="active"><a href="#pannelloControllo">Voce 1-mobile</a></li>             
                <li><a href="#pannelloControllo">Voce 2-mobile</a></li>             
                <li><a href="#pannelloControllo">Voce 3-mobile</a></li>          
            </ul>      
        </nav> 
    </aside>
</div>
<!-- /Sezione visibile solo in MOBILE -->

<div class="col-xs-12">
    <!-- Sezione visibile solo in DESKTOP -->
    <aside class="col-sm-3 hidden-xs menuLateraleSinistroDesktop">
        <nav>          
            <ul class="listaVociDesktop nav nav-sidebar">             
                <li class="active"><a href="#pannelloControllo">Voce 1-desktop</a></li>             
                <li><a href="#pannelloControllo">Voce 2-desktop</a></li>             
                <li><a href="#pannelloControllo">Voce 3-desktop</a></li>          
            </ul>      
        </nav>
    </aside> 
    <!-- /Sezione visibile solo in DESKTOP -->
    <!-- contenuto principale del pannello di controllo -->
    <section class="col-sm-9 col-xs-12 contenutoPannelloControllo">
        <div>
            <p>1 -desktop</p> 
            <p>2-desktop</p>
            <p>3-desktop</p>
            <p>4-desktop</p>
            <p>5-desktop</p>
            <p>6-desktop</p>
            <p>ciao-desktop</p>
            <p>ciaodesktop</p>
            <p>ciao-desktop</p>
            <p>ciao-desktop</p>
            <p>ciao-desktop</p>
            <p>ciao-desktop</p>
            <p>ciao-desktop</p>
            <p>ciao-desktop</p>
            <p>ciao-desktop</p>
            <p>ciao-desktop</p>
            <p>ciao-desktop</p>
            <p>ciao-desktop</p>
            <p>ciao-desktop</p>
            <p>ciao-desktop</p>
            <p>ciao-desktop</p>
            <p>ciao-desktop</p>
        </div>
    </section>
</div>