<!--PAGINA DI AUTENTICAZIONE -->
<!--LOGIN E REGISTRAZIONE -->
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <!--LOGIN-->
                        <form id="idFormLogin" name="formLogin" role="form" style="display: block;">
                            <h2>LOGIN</h2>
                            <div class="form-group">
                                <input name="emailLogin" ng-model="formLoginData.email" ng-disabled ="checkToken()" type="email" placeholder="Email" class="form-control" tabindex="1" required autofocus>
                            </div>
                            <div class="form-group">
                                <input name="passwordLogin" ng-model="formLoginData.password" ng-disabled ="checkToken()" type="password" placeholder="Password" class="form-control" tabindex="2" required>
                            </div>
                            <div class="col-xs-4 form-group pull-left checkbox">
                                <input id="checkboxRicordami" ng-model="ricordami" type="checkbox" ng-disabled ="checkToken()" >
                                <label for="checkboxRicordami">Ricordami</label>   
                            </div>
                            <div class="col-xs-4 form-group">     
                                <button class="btn btn-lg btn-primary btn-block" ng-click="resetFormLogin()" ng-disabled ="checkToken()">reset</button>
                            </div> 
                            <div class="col-xs-4 form-group pull-right">     
                                <button class="btn btn-lg btn-primary btn-block" ng-click="login(formLogin)" ng-disabled ="checkToken()">Accedi</button>
                            </div>
                        </form>
                        <!--REGISTRAZIONE-->
                        <form id="idFormRegistrazione" name="formRegistrazione" role="form" style="display: none;">
                            <h2>REGISTRAZIONE</h2>
                            <div class="form-group">
                                <input name="nickRegistrazione" ng-model="formRegistrazioneData.nick" type="text" class="form-control" placeholder="Nome utente" tabindex="1" required autofocus>
                            </div>
                            <div class="form-group">
                                <input name="emailRegistrazione" ng-model="formRegistrazioneData.email" type="email" placeholder="Email" class="form-control" tabindex="1" required>
                            </div>
                            <div class="form-group">
                                <input name="passwordRegistrazione" ng-model="formRegistrazioneData.password" type="password" placeholder="Password" class="form-control" tabindex="2" required>
                            </div>
                            <div class="form-group">
                                <input name="confermaPasswordRegistrazione" ng-model="confermaPasswordRegistrazione" 
                                       ng-show="formRegistrazione.confermaPasswordRegistrazione.$error.confronta"
                                       type="password" placeholder="Conferma Password" 
                                       conferma-password="formRegistrazioneData.password" 
                                       class="form-control" tabindex="2">
                                <span class="label label-danger" ng-show="formRegistrazione.confermaPasswordRegistrazione.$error.confronta">
                                    conferma la password
                                </span> 
                            </div>
                            <div class="col-xs-12 form-group pull-left checkbox">
                                <input id="chkBoxCondividoStampante" ng-model="condividoStampante" type="checkbox">
                                <label for="chkBoxCondividoStampante">Condivido Stampante</label>   
                            </div>
                            <!--CONDIVIDO STAMPANTE-->
                            <div ng-show="condividoStampante">
                                <div class="col-xs-12 form-group" ng-init="tipoIndirizzo = 'approssimato'">
                                    <input id="indirizzoApprossimato" type="radio" ng-model="tipoIndirizzo" value="approssimato" ng-checked="true">
                                    <label for="indirizzoApprossimato">Indirizzo approssimato</label>
                                    <input id="indirizzoEsatto" type="radio" ng-model="tipoIndirizzo" value="esatto">
                                    <label for="indirizzoEsatto">Indirizzo esatto</label>
                                </div>
                                <div class="form-group">
                                    <span ng-show="tipoIndirizzo == 'approssimato'" class="infoNearField">nei pressi di:</span>
                                    <input ng-model="formRegistrazioneData.indirizzo" type="text" 
                                           class="form-control"  title="puoi fornire un indirizzo approssimativo se vuoi"
                                           placeholder="indirizzo (es:via ester cuttica 200,Legnano)" tabindex="2" required>
                                </div>
                                <div class="col-xs-12 form-group pull-left checkbox">
                                    <input id="chkBoxStampa2D" ng-model="chkBoxStampa2D" type="checkbox">
                                    <label for="chkBoxStampa2D">Stampante 2D</label>   
                                </div>
                                <div class="col-xs-12 form-group" ng-init="formRegistrazioneData.tipologiaStampa.stampa2D.colore = 'C'">
                                    <input id="stampa2Dc" type="radio" ng-model="formRegistrazioneData.tipologiaStampa.stampa2D.colore" 
                                           value="C" ng-checked="true">
                                    <label for="stampa2Dc">a colori</label>
                                    <input id="stampa2Db" type="radio" ng-model="formRegistrazioneData.tipologiaStampa.stampa2D.colore" 
                                           value="B">
                                    <label for="stampa2Db">bianco e nero</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
                                        <button class="btn btn-lg btn-primary btn-block" ng-click="registrazione(formRegistrazione)">Salva</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6 tabs">
                        <a href="" class="active" id="idFormLoginLink"><div class="login">LOGIN</div></a>
                    </div>
                    <div class="col-xs-6 tabs">
                        <a href="" id="idFormRegistrazioneLink"><div class="register">REGISTRAZIONE</div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#idFormLoginLink').click(function (e) {
            $("#idFormLogin").delay(100).fadeIn(100);
            $("#idFormRegistrazione").fadeOut(100);
            $('#idFormRegistrazioneLink').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#idFormRegistrazioneLink').click(function (e) {
            $("#idFormRegistrazione").delay(100).fadeIn(100);
            $("#idFormLogin").fadeOut(100);
            $('#idFormLoginLink').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

    });

</script>


