<!DOCTYPE html>
<html>
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <body>

        <div ng-app="myApp" ng-controller="myCtrl">

            Output (GET): {{outRestCall}}
            <br>
            <button ng-click="cliccaLogin()">Login</button>
            <br>
            Output (POST): {{outRestCallPOST}}
            <br>
            <button ng-click="cliccaStampa()">Stampa</button>
        </div>

        <script>
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function ($scope, $http) {
                $scope.outRestCall = "";
                $scope.outRestCallPOST = "";

                $scope.cliccaLogin = function () {
                        
                    var url = 'http://localhost/printnetwork/apinode/login';
                    var myCall = $http({
                        method: 'GET',
                        url: url,
                        headers: {'Content-Type': 'application/json'}
                    });
                    myCall.then(function (response) {
                        $scope.outRestCall = response.data;
                    });
                };

                $scope.cliccaStampa = function () {
                    
                    var url = 'http://localhost/printnetwork/apinode/2d';
                   
                    var myCall = $http({
                        method: 'POST',
                        url: url,
                        data: {token: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJub21lIjoic2FzYSIsImlhdCI6MTQ1ODE1NjYzMCwiZXhwIjoxNDU4MTc0NjMwfQ.4FQJJxyle3w8VY1pQsa3SywbhJqddLVqMiL0W6p7Ay8'},
                        headers: {'Content-Type': 'application/json'}
                    });
                    myCall.then(function (response) {
                        $scope.outRestCallPOST = response.data;
                    },function(err){
                        alert("errore ("+err.status+") "+err.data.message);
                    });
                };

            });

        </script>

    </body>
</html>
