<!--PAGINA DI LOGIN -->
<div>
    <form class="form-signin" name="formLogin">
        <h2 class="form-signin-heading">Autenticati</h2>
        <label for="inputEmail">Email address</label>
        <input ng-model="utente.email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword">Password</label>
        <input ng-model="utente.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" ng-click="cliccaLogin(formLogin)">Accedi</button>
    </form>
</div>
