/* 
    Created on : 24-dic-2016, 23.28.37
    Author     : stivale
*/
.pannelloControlloContainer{
    width: 100%;
    margin-top: 10px;
}
.horizontal-collapse {
    height: 70px;
}
#toggleLeftMenu i{
    font-size:30px;
}
.intestazionePannello{
    display: inline-flex;
    position: fixed; 
    z-index: 2;
    width: 100%
}
.divToggleMenu{
    position: absolute;
    top: 22px;
    right: 32px;
} 
.menuLateraleSinistroMobile{
    position: absolute;
    top: 70px;
    left: -30px;
    width: 100%;
} 
.nickNameLoggato{ 
    position: fixed;
    top:50px;
    right: 5px;
    font-size: 12px;
    font-style: italic;
    z-index: 1;
} 
ul.listaVociMobile,
ul.listaVociDesktop{
    background-color:  #f5f5f5;
}
ul.listaVociMobile li a,
ul.listaVociDesktop li a{
    color :#9d9d9d;
}
ul.listaVociMobile li.active,
ul.listaVociDesktop li.active,
ul.listaVociMobile li.active a,
ul.listaVociDesktop li.active a{
    color: #fff;
    background-color: #428bca;

}
/* box ricerca indirizzo per gmaps */
.wrapperBoxRicercaIndirizzo{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.wrapperBoxRicercaIndirizzo .testoCercaIndirizzo{
    width: 92%;
    border:1px solid #428bca;

}

.wrapperBoxRicercaIndirizzo .testoCercaIndirizzo input{
    width: 100%;
}

.wrapperBoxRicercaIndirizzo i{
    float: right;
    font-size: 18px;
    padding:10% 20% 0 0;
}

.iconaCercaIndirizzo{
    width: 8%;
    border:1px solid #337ab7;
    background:#337ab7;
    cursor:pointer;
}
.indirizzoTrovato{
    color: green;
    border: 1px solid green;
    background: whitesmoke;
}
.indirizzoTrovato.ng-hide-add {
    transform: rotateZ(0);
    transform-origin: right;
    transition: all 0.5s ease-in-out;
}
.indirizzoTrovato.ng-hide-add.ng-hide-add-active {
    transform: rotateZ(-135deg);
}
.indirizzoTrovato.ng-hide-remove {
    transform: rotateY(90deg);
    transform-origin: left;
    transition: all 0.5s ease;
}
.indirizzoTrovato.ng-hide-remove.ng-hide-remove-active {
    transform: rotateY(0);
}
.geoPosizioneWrapper{
    width: 100%;
    display: inline-flex;
}

.gps{
    width: 5%;
}
.gps.no i{
    color: red;
    font-size: 18px;
}
.gps.si i{
    color: green;
    font-size: 18px;
}
.linkPosizione{
    width: 95%;
}
