/* 
    Created on : 24-dic-2016, 23.28.37
    Author     : stivale
*/
.pannelloControlloContainer{
    width: 100%;
    margin-top: 10px;
}
.horizontal-collapse {
    height: 70px;
}
#toggleLeftMenu i{
    font-size:30px;
}
.intestazionePannello{
    display: inline-flex;
    position: fixed; 
    z-index: 2;
    width: 100%
}
.divToggleMenu{
    position: absolute;
    top: 22px;
    right: 32px;
} 
.menuLateraleSinistroMobile{
    position: absolute;
    top: 70px;
    left: -25px;
    width: 100%;
} 

.nickNameLoggato{ 
    position: fixed;
    top:50px;
    right: 5px;
    font-size: 12px;
    font-style: italic;
    z-index: 1;
} 
ul.listaVociMobile,
ul.listaVociDesktop{
    background-color:  #f5f5f5;
    margin-top: 12px;
}
ul.listaVociMobile li a,
ul.listaVociDesktop li a{
    color :#9d9d9d;
}
ul.listaVociMobile li.active,
ul.listaVociDesktop li.active,
ul.listaVociMobile li.active a,
ul.listaVociDesktop li.active a{
    color: #fff;
    background-color: #428bca;

}
/* box ricerca indirizzo per gmaps */
.wrapperBoxRicercaIndirizzo{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.wrapperBoxRicercaIndirizzo .testoCercaIndirizzo{
    width: 92%;
    border:1px solid #428bca;

}

.wrapperBoxRicercaIndirizzo .testoCercaIndirizzo input{
    width: 100%;
}

.wrapperBoxRicercaIndirizzo i{
    float: right;
    font-size: 18px;
    padding:10% 20% 0 0;
}

.iconaCercaIndirizzo{
    width: 8%;
    border:1px solid #337ab7;
    background:#337ab7;
    cursor:pointer;
}
.indirizzoTrovato{
    color: green;
    border: 1px solid green;
    background: whitesmoke;
    border: 1px solid #333;
    box-shadow: 10px 10px 5px #888888;    
}
.indirizzoTrovato.ng-hide-add {
    transform: rotateZ(0);
    transform-origin: right;
    transition: all 0.5s ease-in-out;
}
.indirizzoTrovato.ng-hide-add.ng-hide-add-active {
    transform: rotateZ(-135deg);
}
.indirizzoTrovato.ng-hide-remove {
    transform: rotateY(90deg);
    transform-origin: left;
    transition: all 0.5s ease;
}
.indirizzoTrovato.ng-hide-remove.ng-hide-remove-active {
    transform: rotateY(0);
}
.geoPosizioneWrapper{
    width: 100%;
    display: inline-flex;
    background: whitesmoke;
    border: 1px solid #333;
    box-shadow: 10px 10px 5px #888888;
    margin-top: 2px;
}

.gps{
    width: 5%;
    margin-right:5px;
}
.gps.no i{
    color: red;
    font-size: 18px;
}
.gps.si i{
    color: green;
    font-size: 18px;
}
.linkPosizione{
    width: 95%;
}
#ex1Slider .slider-selection {
    background: #BABABA;
}
.markerWrapper{
    margin-top:10px;
    font-size: 30px;
}
.markerWrapper i{
    color:greenyellow;
    text-shadow: 2px 0 black;
}
.markerWrapper i.pdsActive{
    color:blue;
    text-shadow: 2px 0 greenyellow;
}
.markerWrapper i.pdsNoActive{
    color:greenyellow;
    text-shadow: 2px 0 black;
}
.infoPDS{
    background-color: #a8a69f;
    border:2px solid blue;
    box-shadow: 3px 0 greenyellow;
    position: absolute;
    bottom: 15px;
}
.infoPDS button{
    float: right;
    margin:2px;
}
.infoMorePDS{
    background-color: #a8a69f;
    border:1px solid blue;
    box-shadow: 2px 0 greenyellow;
    position: absolute;
    top: 60px;
}
.colorStar{
   color:yellow;
}

.boxInfoPdsNoActive{
    transform: rotateY(90deg);
    transform-origin: left;
    transition: all 0.5s ease;
}
.boxInfoPdsActive{
   transform: rotateZ(360deg);
   transform-origin: right;
   transition: all 0.5s ease;
}
.submenuActiveNoActive.ng-hide {
    transform: rotateX(90deg);
}

.submenuActiveNoActive.ng-hide-add,
.submenuActiveNoActive.ng-hide-remove {
  transition: all 0.5s ease;
   transform-origin: top;
}

ul.nav-sidebar li a span{
    float:right;
}
 
ul.submenuActiveNoActive li { background: #98aab9; }
ul.submenuActiveNoActive li:nth-child(odd),ul.submenuActiveNoActive li a
 { background: #879eb1;}

ul.submenuActiveNoActive { 
  list-style-type: none;
  padding:2px;
}
ul.submenuActiveNoActive button{
    width:100%;
    text-align:left;
} 