/* 
    Created on : 24-dic-2016, 23.28.37
    Author     : stivale
*/
.pannelloControlloContainer{
    width: 100%;
    margin-top: 10px;
}
.horizontal-collapse {
    height: 70px;
}
#toggleLeftMenu i{
    font-size:30px;
}
.intestazionePannello{
    display: inline-flex;
    position: fixed; 
    z-index: 2;
    width: 100%
}
.divToggleMenu{
    position: absolute;
    top: 22px;
    right: 32px;
} 
.menuLateraleSinistroMobile{
    position: absolute;
    top: 70px;
    left: -30px;
    width: 100%;
} 
.nickNameLoggato{ 
    position: fixed;
    top:50px;
    right: 5px;
    font-size: 12px;
    font-style: italic;
    z-index: 1;
} 
ul.listaVociMobile,
ul.listaVociDesktop{
    background-color:  #f5f5f5;
}
ul.listaVociMobile li a,
ul.listaVociDesktop li a{
    color :#9d9d9d;
}
ul.listaVociMobile li.active,
ul.listaVociDesktop li.active,
ul.listaVociMobile li.active a,
ul.listaVociDesktop li.active a{
    color: #fff;
    background-color: #428bca;

}
/* box ricerca indirizzo per gmaps */
.wrapperBoxRicercaIndirizzo{
    display: flex;
    width: 100%;
}
.wrapperBoxRicercaIndirizzo .testoCercaIndirizzo{
    width: 95%;
    border:1px solid #428bca;
}

.wrapperBoxRicercaIndirizzo .testoCercaIndirizzo input{
    width: 100%;
}

.wrapperBoxRicercaIndirizzo .btnCercaIndirizzo{
    width: 5%;
    float: right;   
    border:1px solid #428bca;
    background: antiquewhite;
}
.wrapperBoxRicercaIndirizzo .btnCercaIndirizzo i{
    float: right;
    font-size: 18px;
    padding:4px 0 0 0;
}