/* 
    Created on : 24-apr-2016, 20.34.22
    Author     : stivale
*/
@import url("fontsGstaticRobotoV15.css");

.margineContainer{  
    margin-top: 80px;
    position:relative;
}
.margineContainer > .boxCaptcha{
    position:absolute; 
    right: 47%;
}

.navBarIcon{
    float:left;
    display: block !important;
}

.navBarIconHome{
    float:left;
    display: none !important;
}

.bodyHome{
    text-align: center;
    font-family: 'Roboto';
    font-weight:400;
    background-image:none;
} 
.bodyMain {
    width: 100%;
    padding-top: 90px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image:url(../img/sfondoPN.png);
    color:#666666;
    font-family: 'Roboto';
    font-weight:400;
    background-size: 800px;
    background-position-x: 375px;
    background-position-y: 29px;
}
/* css per boxerare immagini */
.box > .icon { 
    text-align: 
        center; 
    position: 
        relative; 
}
.box > .icon > .image { 
    position: relative; 
    z-index: 2; 
    margin: auto; 
    width: 88px; 
    height: 88px; 
    border: 8px solid white; 
    line-height: 88px; 
    border-radius: 50%; 
    background: #428bca; 
    vertical-align: middle; 
}
.box > .icon > .image > i { 
    font-size: 36px !important; 
    color: #fff !important; 
}
.box > .icon:hover > .image > i { 
    color: white !important; 
}
.barraFissaMessaggiUtente{
    position: fixed; 
    z-index: 1000;
}
.pannelloFissoLoadingPage{
    position: fixed; 
    z-index: 10000;
    opacity: 0.5;
    background-color: graytext;
}
.allineaMessaggiUtente{
    margin-top: 20px;
    text-align: center;
}
.iconaCursoreWait{
    cursor: wait;
}

.iconaCursoreMano{
    cursor: pointer;
}

.modalHeaderStyle{
    position:relative;
}
.modalHeaderStyle > h4{
    text-align: center;
}
.modalHeaderStyle > .close{
    position:absolute;
    right: 10px; 
    top:0px;
}

@media(max-width:2500px){
    .margineContainer > .boxCaptcha{
        right: 42%;
    }
    /* stile gmaps */
    #mappaPannelloControllo{
        display: block;height: 800px !important;
    }
}
@media(max-width:991px){
    .margineContainer > .boxCaptcha{
        right: 54%;
    }
    .bodyMain {
        background-size: 500px;
        background-position-x: 177px;
        background-position-y: -29px;
    }
    /* stile gmaps */
    #mappaPannelloControllo{
        display: block;height: 600px !important;
    }
}
@media(max-width:699px){
    .margineContainer > .boxCaptcha{
        right: 25%;
    }
    /* stile gmaps */
    #mappaPannelloControllo{
        display: block;height: 500px !important;
    }
}

@media(max-width:415px){
    .margineContainer > .boxCaptcha{
        right: 12%;
    }
    .bodyMain {
        background-size: 400px;
        background-position-x: 23px;
        background-position-y: -29px;
    }
    /* stile gmaps */
    #miaMappa{
        display: block;height: 400px !important;
    }
}

@media(max-width:400px){
    .margineContainer > .boxCaptcha{
        right: 12%;
    }
    /* stile gmaps */
    #mappaPannelloControllo{
        display: block;height: 400px !important;
    }
}
@media(max-width:300px){
    .margineContainer > .boxCaptcha{
        right: -2%;
    }
    /* stile gmaps */
    #mappaPannelloControllo{
        display: block;height: 400px !important;
    }
}