/* 
    Created on : 24-apr-2016, 20.34.22
    Author     : stivale
*/
@import url("fontsGstaticRobotoV15.css");

.margineContainer{
    margin-top: 80px;
}

.bodyHome{
    text-align: center;
    font-family: 'Roboto';
    font-weight:400;
}

.bodyMain {
    padding-top: 90px;
    background:#F7F7F7;
    color:#666666;
    font-family: 'Roboto';
    font-weight:400;
}

.bodyMain{
    width: 100%;
    background: -webkit-linear-gradient(left, #22d686, #24d3d3, #22d686, #24d3d3);
    background: linear-gradient(to right, #22d686, #24d3d3, #22d686, #24d3d3);
    background-size: 600% 100%;
    -webkit-animation: HeroBG 20s ease infinite;
    animation: HeroBG 20s ease infinite;
}
/* css per boxerare immagini */
.box > .icon { 
    text-align: 
        center; 
    position: 
        relative; 
}
.box > .icon > .image { 
    position: relative; 
    z-index: 2; 
    margin: auto; 
    width: 88px; 
    height: 88px; 
    border: 8px solid white; 
    line-height: 88px; 
    border-radius: 50%; 
    background: #428bca; 
    vertical-align: middle; 
}
.box > .icon > .image > i { 
    font-size: 36px !important; 
    color: #fff !important; 
}
.box > .icon:hover > .image > i { 
    color: white !important; 
}
.barraFissaMessaggiUtente{
    position: fixed; 
    z-index: 1000;
}
.allineaMessaggiUtente{
    margin-top: 20px;
    text-align: center;
}
.iconaCursoreWait{
    cursor: wait;
}

.iconaCursoreMano{
    cursor: pointer;
}
@-webkit-keyframes HeroBG {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes HeroBG {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}
