<div class="col-xs-12 pannelloDirezione" ng-show="mostra">
    <div class="col-xs-12 titoloDirezione">
        <span class="label">{{tempoTotale}} ({{distanzaTotale}})</span>
        <span class="close" type="button" ng-click="mostra = !mostra">×</span>
    </div> 
    <div class="col-xs-12 titoloDirezione">
        <i class="glyphicon glyphicon-map-marker markerPartenza"></i>
        <span class="label">{{partenza}}</span>
    </div>
    <div class="col-xs-12 descDirezione" ng-repeat="passo in passi track by $index">
        <div class="col-xs-12">
            <div ng-bind-html="passo.instructions"></div>
           <!-- <span class="label">{{passo.instructions}}</span>-->
        </div>
        <div class="col-xs-12 wrappDistanza">
            <span class="label">{{passo.distance.text}}</span>
        </div>
       <!-- <button type="button" class="btn btn-info" ng-click="getInfoPasso(passo)">info</button>-->
    </div>
    <div class="col-xs-12 footerDirezione">
        <i class="glyphicon glyphicon-map-marker markerArrivo"></i>
        <span class="label">{{arrivo}}</span>
    </div>
</div>