<div class="col-xs-offset-3 col-xs-6 col-xs-offset-3 pannelloChat" ng-show="mostraChat||listaMessaggiUtente.length>0">
    <div class="col-xs-12 titolo"><h4>Chat con {{getDestinatarioNick()}}</h4></div>
    <div class="col-xs-12 messaggi">
           <div class="col-xs-12" ng-repeat="messaggio in listaMessaggiUtente track by $index">
               <div class="col-xs-12">{{messaggio.msg}}</div>
           </div>
    </div>
</div>
<div class="col-xs-offset-3 col-xs-6 col-xs-offset-3 inputChat" ng-show="mostraChat||listaMessaggiUtente.length>0">
    <div class="input-group">
      <input type="text" ng-model="msgDaInviare" class="form-control" placeholder="scrivi qui">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="invioMessaggio()">invia</button>
      </span>
    </div><!-- /input-group -->
</div>