<!-- Modale CONTATTI SITO-->
<!DOCTYPE html>
<html>
    <div class="modal-header">
        <div class="modalHeaderStyle">
            <h4>Chiudi contrattazione</h4>
            <button class="close" type="button" ng-click="cancel()">&times;</button>
        </div>
    </div>
    <div class="box">							
        <div class="icon">
            <div class="image colorRed"><i class="glyphicon glyphicon-remove-sign margineIconaModalConfirm"></i></div>
            <div class="modal-body">
                <p>Vuoi chiudere la contrattazione?</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="ok()">Ok</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</html>


