<!-- Modale CONTATTI SITO-->
<!DOCTYPE html>
<html>
    <div class="modal-header">
        <div class="modalHeaderStyle">
            <h4>Contatti</h4>
            <button class="close" type="button" ng-click="cancel()">&times;</button>
        </div>
    </div>
    <div class="box">							
        <div class="icon">
            <div class="image"><i class="glyphicon glyphicon-envelope"></i></div>
            <div class="modal-body">
                <p>scrivi una mail a</p>
                <strong><a href="mailto:lostivalediacciaio@gmail.com">lostivalediacciaio@gmail.com</a></strong>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</html>


