<!-- Modale CONTATTI SITO-->
<div class="modal fade bs-example-modal-sm" id="contattiModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div style="padding: 20px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="box">							
                <div class="icon">
                    <div class="image"><i class="glyphicon glyphicon-envelope"></i></div>
                    <div class="modal-body">
                        <p>scrivi una mail a</p>
                        <strong><a href="mailto:lostivalediacciaio@gmail.com">lostivalediacciaio@gmail.com</a></strong>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

