<!DOCTYPE html>
<html>
    <div class="modal-header">
        <h3 class="modal-title">Formati stampa 2D</h3>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">
                <thead>
                <th><input type="checkbox" 
                           id="checkall" 
                           ng-model="chkBoxFrmt2D_ALL" 
                           ng-click="toggleAllFormatoStampa(chkBoxFrmt2D_ALL)"/></th>
                <th>Formato Stampa</th>
                <th>Descrizione</th>
                </thead>
                <tbody>
                    <tr ng-repeat="formato in dominioFormati2D | evidenziaFormatiScelti : formatiStampa2DScelti">
                        <td><input type="checkbox" 
                                   ng-model="chkBoxFrmt2D_$index" 
                                   ng-checked="formato.checked" 
                                   ng-click="toggleFormatoStampa(formato,chkBoxFrmt2D_$index)"/>
                        </td>
                        <td>{{formato.value}}</td>
                        <td>{{formato.label}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">Fatto</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</html>
