<!-- Modale INFO PRIVACY-->
<div class="modal fade" id="privacyModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div  style="padding: 20px;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="box">							
                <div class="icon">
                    <div class="image"><i class="glyphicon glyphicon-eye-open"></i></div>
                    <h4 class="modal-title">INFORMATIVA PRIVACY</h4>
                    <div class="modal-body">
                        <p>Ai sensi del <strong>D.Lgs. 30 giugno 2003 n. 196 “Codice in materia di protezione dei dati personali”</strong></p> 
                        <p>la informiamo che i suoi dati personali qui raccolti saranno oggetto di trattamento informatico</p> 
                        <p>ai fini del suo inserimento nella banca dati di printnetwork.it e per permetterle di usufruire di tutti i servizi pensati per gli utenti del sito,
                            come la ricerca di altri utenti nelle proprie vicinanze, inserimento di commenti e possibilità di messagistica pubblica e privata ai fini di dare feedback
                            e informazioni utili ai “naviganti” del sito web.</p>
                        <br>
                        <p>I dati personali da lei comunicatici al momento della compilazione della scheda di registrazione ovvero in caso di successive modifiche del suo profilo personale potranno essere mostrati a tutti gli utenti del sito printnetwork.it</p>
                        <p>in particolare, potranno comparire accanto ai commenti e alle recensioni.</p>
                        <br>
                        <p>Il conferimento dei dati è facoltativo, tuttavia, in caso di suo rifiuto, non potremo inserirla tra i nostri iscritti e farla partecipare alle attività e ai servizi riservati agli utenti registrati.</p>
                        <br>
                        <p>A lei competono i diritti previsti dall'art. 7 della legge sopra citata che potrà esercitare inviando un messaggio a lostivalediacciaio@gmail.com.</p>
                        <br>
                        <p>Le informazioni conferite con la compilazione della scheda di registrazione sono fornite sotto la completa responsabilità del compilante.</p>
                        <br>
                        <p>Con l'accettazione delle condizioni, si autorizza printnetwork.it all'utilizzo di tali informazioni per i soli scopi del sito web e nelle sole modalità previste dalla legge.</p>
                        <p>Ogni responsabilità, civile e penale, per informazioni false, mendaci, non in buona fede o comunque diverse dalla verità è a totale carico di chi le fornisce e nessuna responsabilità potrà quindi essere attribuita a printnetwork.it.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

