<!-- Modale REGOLAMENTO SITO-->
<!DOCTYPE html>
<html>
    <div class="modal-header">
        <div class="modalHeaderStyle">
            <h4>REGOLAMENTO</h4>
            <button class="close" type="button" ng-click="cancel()">&times;</button>
        </div>
    </div>
    <div class="box">							
        <div class="icon">
            <div class="image"><i class="glyphicon glyphicon-list-alt"></i></div>
            <div class="modal-body">
                <strong>Premessa</strong>
                <p>Il presente sito è denominato printnetwork.it </p>
                <br>
                <strong>1. Condotta  e regole</strong>
                <p>   Ciascun utente è tenuto a mantenere sempre un comportamento corretto.</p>
                <p>   Le seguenti azioni sono severamente proibite:</p>
                <p>     - l'insulto o l'uso di un linguaggio volgare, verso qualunque indirizzo;</p>
                <p>     - l'utilizzo di un linguaggio osceno, blasfemo, razzista o intimidatorio.</p>
                <br>
                <p>   A chiunque ponga in essere le azioni sopra descritte, con o contro altri utenti in chat, sarà immediatamente impedito l'utilizzo della chat. Nei suoi confronti, inoltre, potrà essere avviata la procedura di espulsione dal sito.</p>
                <p>   Lo stesso provvedimento è valido anche per chi carica nel proprio profilo immagini o frasi oscene, blasfeme, inneggianti a posizioni fanaticamente politiche, religiose, sportive.</p>
                <p>   I responsabili del sito hanno la facoltà di togliere la possibilità di utilizzare la chat, di cancellare il profilo o di escludere dal sito chiunque violi le comuni norme di rispetto e buona educazione.</p> 
                <br>
                <p>   Ciascun utente deve fornire dei dati obbligatori che permettano l’identificazione dell’utente stesso da parte degli amministtatori del sito.</p>
                <br>
                <strong>2. Scopo del sito</strong>
                <p>   Lo scopo del sito è quello di mettere in connessione più individui che vogliano trovare e/o condividere con altri utenti la possibilità di effettuare classiche stampe cartacee o addirittura stampe 3D.</p>
                <p>   Per un utilizzo completo dei servizi web messi a disposizione da printnetwork.it è possibile accettare di condividere la propria geoposizione in modo da trovare facilmente le risorse nelle proprie vicinanze.</p>
                <p>   I dati riguardanti la propria posizione non saranno visibili agli altri utenti del sito ma serviranno a printnetwork.it al solo scopo di fornire utili informazioni.</p>
                <p>   Se si sceglie di condividere la propria stampante sarà visibile l'indirizzo (via e civico) specificato in fase di registrazione,</p>
                <p>   qualore non si volesse fornire un indirizzo esatto è comunque possibile dare un indirizzo approssimativo al solo scopo di indicare la possibilità</p>
                <p>   di stampe nelle vicinanze.</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</html>

